
# File: .github/workflows/workflow.yml

on: 
  workflow_dispatch:

name: PS_Final

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    
    - name: Login via Az module
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
        allow-no-subscriptions: true
        enable-AzPSSession: true 
    - name: Checkout code
      uses: actions/checkout@v2
      with:
          powershell-version: '7.1'
    - name: Run PowerShell script
      run: |
       pwsh -Command Install-Module -Name Az -Scope CurrentUser -Repository PSGallery -Force
       pwsh -Command Install-Module -Name Az -AllowClobber
       pwsh -Command $User = "ulhas.us@gmail.com"
       pwsh -Command $PWord = ConvertTo-SecureString -String "Pooja1995@" -AsPlainText -Force
       pwsh -Command $tenant = "3fcee3c0-6bef-4260-82da-d16909225811"
       pwsh -Command $Credential = New-Object -TypeName "System.Management.Automation.PSCredential" -ArgumentList $User,$PWord
       #pwsh -Command Connect-AzAccount -TenantId 3fcee3c0-6bef-4260-82da-d16909225811
       pwsh -Command Connect-AzAccount -Credential $Credential
       pwsh -File Final_12-04-2023.ps1
       cat  Final_12-04-2023.ps1
    - run: |
        pwsh -Command Write-Host "Usage details for all resources in subscription "
