
# File: .github/workflows/workflow.yml

on: [push]

name: AzurePowerShellLoginSample

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    
    - name: Login via Az module
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
        allow-no-subscriptions: true
        enable-AzPSSession: true 
    - run: |
        write-host"Hello from ps"
        Get-AzVM -ResourceGroupName "ResourceGroup11"
        
