name: Upload and download file

on:
  workflow_dispatch:
jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Upload file
        uses: actions/upload-artifact@v2
        with:
          name: Demo2
          path: Demo2.txt
  download:
    runs-on: ubuntu-latest
    needs: [upload]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Download file
        uses: actions/download-artifact@v2
        with:
          name: Demo2
      - name: Print file contents
        run: |
          cat demo2/Demo2.txt
